<section class="advantages-section">
  <div class="container">
    <h3 class="advantages-subtext">Переваги</h3>
    <h2 class="advantages-title">Чому обрати нас?</h2>
    <p class="advantages-text">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>
    <ul class="advantages-list">
      <li class="advantages-item">
        <img
          src="../img/advantages/advantages-mobile-1.jpg"
          alt="Photo of materials for making products"
          width="288"
          height="198"
        />
        <h2 class="advantages-item-title">Стійкість та екологічність</h2>
        <p class="advantages-item-text">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="advantages-item">
        <img
          src="../img/advantages/advantages-mobile-2.jpg"
          alt="Photo of the bag sewing process"
          width="288"
          height="198"
        />
        <h2 class="advantages-item-title">Міцність і довговічність</h2>
        <p class="advantages-item-text">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="advantages-item">
        <img
          src="../img/advantages/advantages-mobile-3.jpg"
          alt="Photo of bags of different colors"
          width="288"
          height="198"
        />
        <h2 class="advantages-item-title">Стильний та сучасний дизайн</h2>
        <p class="advantages-item-text">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
