<footer class="footer">
  <div class="container section-footer">
    <div class="section-footer-chapter">
      <div class="footer-row">
      <a class="logo" href="./index.html">
      <img class="logo-img" src="./img/logo/logo.svg" width="281" height="121" alt="EcoTote"/>
    </a>
       <nav class="nav-mobil-footer">
    <ul class="footer-nav-list">
      <li class="footer-nav-chapter">
        <a href="./about.html">Про нас</a>
      </li>
      <li class="footer-nav-chapter">
        <a href="./advantages.html">Переваги</a>
      </li>
      <li class="footer-nav-chapter">
        <a href="./assortment.html">Асортимент</a>
      </li>
      <li class="footer-nav-chapter">
        <a href="./gallery.html">Галерея</a>
      </li>
      <li class="footer-nav-chapter">
        <a href="./feedbacks.html">Відгуки</a>
      </li>
      <li class="footer-nav-chapter">
        <a href="./support.html">Контакти</a>
      </li>
    </ul>
       </nav>
       <div class="media">
    <ul class="social-icons-footer">
      <li>
        <a href="https://www.instagram.com/" target="_blank" class="link">
          <svg class="icon-chain" width="32" height="32">
            <use href="./img/sprite.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/" target="_blank" class="link">
          <svg class="icon-chain" width="32" height="32">
            <use href="./img/sprite.svg#icon-LinkedIn"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/" target="_blank" class="link">
          <svg class="icon-chain" width="32" height="32">
            <use href="./img/sprite.svg#icon-Youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
       </div>
    </div>
  <address class="nav-address-footer">
    <ul class="address-footer">
      <li>
        <a href="tel:+38(099)9091122" class="contacts-footer">+38 (099) 909 11 22</a>
      </li>
      <li>
        <a href="mailto:hello@ecotote.com" class="contacts-footer">hello@ecotote.com</a>
      </li>
      </ul>
  </address>
  <p class="text-footer">&copy; 2025 EcoTote. Всі права захищені.</p>
    </div>
  </div>
</footer>
