<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <svg class="header-logo-svg" width="112" height="48">
        <use href="./img/logo.svg#http://www.w3.org/2000/svg"></use>
      </svg>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Переваги</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Асортимент</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Галерея</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Відгуки</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-contact">
      <ul class="header-contact-list">
        <li class="header-contact-item">
          <a class="header-contact-link" href="tel:+38099901122">+38 (099) 909 11 22</a>
        </li>
        <li class="header-contact-item">
          <a class="header-contact-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
        </li>
      </ul>
    </address>

     <button class="burger-button" type="button">
        <svg class="burger-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-menu"></use>
    </svg>
    </button>
  </div>

  <div class="navbar">
    <div class="container navbar-container">
      <button class="navbar-close-button" type="button">
          <svg class="navbar-close-button-svg" width="32" height="32">
            <use href="./img/sprite.svg#icon-close"></use>
          </svg>
      </button>
      <nav class="navbar-nav">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="./index.html">Про нас</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="./index.html">Переваги</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="./index.html">Асортимент</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="./index.html">Галерея</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="./index.html">Відгуки</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="./index.html">Контакти</a>
          </li>
        </ul>
        <address class="navbar-contact">
          <ul class="navbar-contact-list">
            <li class="navbar-contact-item">
              <a class="navbar-contact-link" href="tel:+38099901122">+38 (099) 909 11 22</a>
            </li>
            <li class="navbar-contact-item">
              <a class="navbar-contact-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
            </li>
          </ul>
        </address>
      </nav>
      
    </div>
  </div>
</header>
