<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
        <img class="header-logo-img"
            src="./img/logo/logo.svg"
            alt="header-logo"
            width="84"
            height="36"
        />
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Про нас</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Переваги</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Асортимент</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Галерея</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Відгуки</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="header-contacts">
      <ul class="header-contacts-list">
        <li class="header-contacts-item">
          <a class="header-contacts-link" href="tel:+38099901122">+38 (099) 909 11 22</a>
        </li>
        <li class="header-contacts-item">
          <a class="header-contacts-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
        </li>
      </ul>
    </address>

     <button class="burger-button" type="button">
        <svg class="burger-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-menu"></use>
    </svg>
    </button>
  </div>

  <div class="navbar is-open">
    <div class="container navbar-logo-close-container">
      <img class="header-logo-img"
            src="./img/logo/logo.svg"
            alt="header-logo"
            width="84"
            height="36"
      />
      <button class="navbar-close-button" type="button">
          <svg class="navbar-close-button-svg" width="32" height="32">
            <use href="./img/sprite.svg#icon-close"></use>
          </svg>
      </button>
    </div>
    <div class="container navbar-nav-contacts-container">
        <nav class="navbar-nav">
          <ul class="navbar-list">
            <li class="navbar-item">
              <a class="navbar-link" href="./index.html">Про нас</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="./index.html">Переваги</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="./index.html">Асортимент</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="./index.html">Галерея</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="./index.html">Відгуки</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="./index.html">Контакти</a>
            </li>
          </ul>
          <address class="navbar-contacts">
            <ul class="navbar-contacts-list">
              <li class="navbar-contacts-item">
                <a class="navbar-contacts-link" href="tel:+38099901122">+38 (099) 909 11 22</a>
              </li>
              <li class="navbar-contacst-item">
                <a class="navbar-contacts-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a>
              </li>
            </ul>
          </address>
        </nav>
    </div>
  </div>
</header>
