.advantages-subtext {
  font-weight: 600;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #030a06;
  padding: 32px 0 12px 0;
}

.advantages-title {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 36px;

  /* line-height: 43px; */
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  padding-bottom: 20px;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.6;
  color: #030a06;
  padding-bottom: 48px;
}

img {
  border-radius: 32px;
  width: 100%;
  height: auto;
}
