.advantages-section {
  padding: 64px 0 64px 0;
}

.advantages-subtext {
  font-weight: 600;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #030a06;
  padding-bottom: 12px;
}

.advantages-title {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 36px;

  /* line-height: 43px; */
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  padding-bottom: 20px;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.6;
  color: #030a06;
  padding-bottom: 48px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

img {
  border-radius: 32px;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  object-fit: cover;
}

.advantages-item-title {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 24px;

  /* line-height: 34px; */
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .advantages-subtext {
    padding-bottom: 16px;
  }
  .advantages-title {
    padding-bottom: 24px;
  }
  .advantages-text {
    font-size: 18px;
    padding-bottom: 32px;
  }

  .advantages-list {
    flex-wrap: nowrap;
    row-gap: 24px;
  }

  img {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .advantages-title {
    font-size: 48px;
  }

  .advantages-text {
    max-width: 768px;
    padding-bottom: 80px;
  }

  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  img {
    width: 421px;
    height: 249px;
  }

  .advantages-item-title {
    font-size: 32px;
    margin-bottom: 24px;
  }
}
