.advantages-container {
  padding-left: 32px;
  padding-right: 32px;
}

.advantages-subtext {
  font-weight: 600;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #030a06;
  padding-bottom: 12px;
}

.advantages-title {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 36px;

  /* line-height: 43px; */
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  padding-bottom: 20px;
}

.advantages-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.6;
  color: #030a06;
  padding-bottom: 48px;
}

img {
  border-radius: 32px;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.advantages-item-title {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 24px;

  /* line-height: 34px; */
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-bottom: 4px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

@media screen and (min-width: 768px) {
}
