.img-size {
    width: 100%;
    height: auto;
    border-radius: 32px;
    display: block;
    object-fit: cover;
}

.assortment-section {
    padding: 32px 0;
}

@media screen and (min-width: 768px) {
    .assortment {
        padding: 64px 0;
    }
}
.container.assortment-container {
    padding: 0 16px;
}
@media screen and (min-width: 768px) {
    .container.assortment-container {
        padding: 0 32px;
}
}
@media screen and (min-width: 1440px) {
    .container.assortment-container {
        padding: 0 64px;
    }
}
.assortment-main-title {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 32px;
}

.assortment-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: center;
    align-items: stretch;
}
 .assortment-item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    gap: 16px;
 }

@media screen and (min-width: 768px) {
    .assortment-list {
        gap: 48px 24px;
    }

    .assortment-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1440px) {
    .assortment-list {
        gap: 64px 24px;
    }

    .assortment-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
}

.assortment-item-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
}

.assortment-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}

.assortment-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .tablet-only {
        display: none;
    }
}

.price {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 16px;
}
.btn-buy {
    background-color: #ebf8ed;
    border: 1px solid #030a06;
    border-radius: 6px;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: auto;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 
@media screen and (min-width: 1440px) {
    .btn-buy:hover,
    .btn-buy:focus {
        opacity: 0.5;
    }
    
    .btn-buy:active {
        color: #113916;
        opacity: 0.6;
        border: 1px solid #113916;
    }
}


