/* Styles for Mobile devices */
.container {
  width: 100%;
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
