/*Feedbacks*/
/*Mobile*/
.feedbacks-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}
.feedbacks-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.01em;
  line-height: 1.2;
  text-transform: capitalize;
}
.feedbacks-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
}
.feedbacks-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.feedbacks-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
  width: 136px;
}
.filled-star {
  width: 24px;
  height: 24px;
}
.feedbacks-icons-stars {
  fill: #3ac04c;
}
.feedbacks-icons-unfilled-stars {
  fill: #3ac04c;
}
.feedbacks-text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}
.feedbacks-author {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.01em;
}
/*Tablet*/
@media screen and (min-width: 768px) {
  .feedbacks-title {
    font-weight: 700;
    font-size: 36px;
  }
  .feedbacks-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    row-gap: 32px;
    column-gap: 24px;
  }
  .feedbacks-card {
    flex-direction: column;
    gap: 24px;
    width: calc((100% - 24px) / 2);
  }
  .feedbacks-icons {
    flex-direction: row;
    gap: 4px;
    width: 136px;
  }
}
/*Desktop*/
@media screen and (min-width: 1440px) {
  .feedbacks-container {
    gap: 80px;
  }
  .feedbacks-title {
    width: 560px;
    font-weight: 700;
    font-size: 36px;
  }
  .feedbacks-list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 24px;
    padding: 0;
    margin: 0;
  }
  .feedbacks-card {
    flex-direction: column;
    gap: 24px;
    width: calc((100% - 72px) / 4);
  }
  .feedbacks-icons {
    flex-direction: row;
    gap: 4px;
    width: 136px;
  }
}
