
.section-footer {
    background-color: #75D281;
}
.section-footer .section-footer-chapter{
    padding:48px 0;
    margin: 0 auto;
}
.logo{
    display: block;
    margin: 0 auto;
    justify-items: center;
    background-color: transparent;
}
.logo-img{
    margin-bottom: 48px;
    padding: 16px 8px 16px 8px;
}
.nav-mobil-footer{
    display: block;
    margin: 0 auto;
}
.footer-nav-list{
    margin-bottom: 48px;
}
.footer-nav-chapter{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030A06;
    text-align: center;
    margin-bottom: 32px;
}
.social-icons-footer{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}
.icon-chain{
    display: block;
    padding: 0;
    fill: #030A06;
}
.nav-address-footer{
    padding: 24px 0;
}
.address-footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.contacts-footer{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030A06;
}
.text-footer{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #030A06;
    text-align: center;
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .section-footer .section-footer-chapter {
        padding: 64px 0;
    }
    .logo-img {
        width: 164px;
        height: 70px;
        padding: 0;
        margin-bottom: 32px;
    }
    .footer-nav-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin-bottom: 32px;
    }
    .footer-nav-chapter {
        margin-bottom: 0;
    }
    .social-icons-footer {
        margin-bottom: 24px;
    }
    .icon-chain {
        width: 40px;
        height: 40px;
    }
    .nav-address-footer {
        padding: 16px 0;
    }
    .text-footer {
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1440px){
    .section-footer .section-footer-chapter {
        padding: 80px 0;
    }
    .footer-row{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin-bottom: 52px;
    }
    .logo {
        margin: 0;
        padding-left: 80px;
    }
    .nav-mobil-footer{
        margin: 0;
    }
    .footer-nav-list{
        margin: 22px 0;
    }
    .media{
        padding-right: 80px;
    }
    .social-icons-footer{
        margin: 23px 0;
    }
    .icon-chain {
        width: 24px;
        height: 24px;
    }
    .nav-address-footer{
        row-gap: 52px;
    }
}
