/* mobile first */



.gallery-section .container {

    max-width: 320px;
}

.gallery-title {
    margin: 0 auto 24px;
    max-width: 768px;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;

}

.gallery-subtitle {
    margin: 0 auto 32px;

    max-width: 768px;
    text-align: center;

    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #030a06;
}


.gallery-title,
.gallery-subtitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

}



.gallery-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.gallery-item {
    list-style: none;
}

.gallery-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 32px;
    object-fit: cover;
}

/*  TABLET  */

@media screen and (min-width: 768px) {
    .gallery-section .container {
        max-width: 704px;
    }

    .gallery-title {
        font-size: 36px;
    }

    .gallery-subtitle {
        font-size: 16px;
    }

    .gallery-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: 340px;
        column-gap: 24px;
        row-gap: 24px;
    }

    .gallery-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    .gallery-item-4 {
        grid-column: 1;
        grid-row: 1;
    }

    .gallery-item-2 {
        grid-column: 2;
        grid-row: 1 / span 2;
    }

    .gallery-item-3 {
        grid-column: 1;
        grid-row: 2 / span 2;
    }

    .gallery-item-1 {
        grid-column: 2;
        grid-row: 3;
    }
}

/*  DESKTOP */

@media screen and (min-width: 1440px) {
    .gallery-section .container {
        max-width: 1312px;

    }

    .gallery-list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-auto-rows: 432px;

        column-gap: 24px;
        row-gap: 24px;
    }



    .gallery-item-4 {
        grid-column: 1;
        grid-row: 1;
    }

    .gallery-item-1 {
        grid-column: 1;
        grid-row: 2;
    }

    .gallery-item-2 {
        grid-column: 2;
        grid-row: 1 / span 2;
    }

    .gallery-item-3 {
        grid-column: 3;
        grid-row: 1 / span 2;
    }
}