.page-header {
  background-color: #75d281;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list,
.header-contacts {
  display: none;
}

.header-logo {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header-logo-img {
  display: block;
  margin: 0;
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #030a06;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #75d281;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navbar.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.navbar-logo-close-container {
  position: relative;
  padding-bottom: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 84px;
  height: 36px;
}

.navbar-close-button {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.navbar-nav-contacts-container {
  position: relative;
  padding-top: 32px;
  padding-bottom: 92px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar-list {
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.navbar-contacts-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navbar-link {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.6;
  color: #030a06;
}

.navbar-contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 26px; */
  line-height: 1.6;
  color: #030a06;
}

@media screen and (min-width: 768px) {
  .navbar-nav-contacts-container {
    padding-bottom: 128px;
  }

  .navbar-list {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .burger-button {
    display: none;
  }

  .navbar {
    display: none;
  }

  .header-logo-img {
    display: block;
    width: 106px;
    height: 45px;
    margin-right: 175px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .header-logo-img {
    width: 106px;
    height: 45px;
    margin-right: 175px;
  }

  .nav-link {
    display: block;
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.6;
    color: #030a06;
  }

  .header-nav-link {
    padding: 23px 0;
    border-bottom: 1px solid transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-bottom-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    cursor: pointer;
    border-bottom-color: #030a06;
    font-weight: bold;
    color: #030a06;
  }

  .header-contacts {
    display: block;
  }

  .header-contacts-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header-contacts-link {
    display: block;
    padding: 24px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.6;
    color: #030a06;
  }
}
