body {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    color: #030a06;
    background-color: #ebf8ed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

p {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

section {
    padding: 64px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

::selection {
    background-color: #ececec;
    color: #000;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Styles for Mobile devices */
.container {
    width: 100%;
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.header-container {
    background-color: #75d281;
}

.header-nav {
    display: flex;
    align-items: center;
}