.hero-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.hero-title {
  font-family: 'Comfortaa', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
}
.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #030a06;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  background-color: #030a06;
  margin: 0 auto;

  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:active {
  background-color: #113916;
  opacity: 0.6;
}

.hero-img {
  border-radius: 40px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 32px;
  }

  .hero-container {
    display: flex;
    gap: 24px;
  }

  .hero-title {
    max-width: 340px;
  }

  .hero-text {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .hero-button {
    max-width: 148px;
    margin-left: 0;
    margin-bottom: 43px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    gap: 32px;
  }

  .hero-title {
    font-size: 56px;
    max-width: 640px;
  }

  .hero-button {
    margin-bottom: 81px;
    cursor: pointer;
  }

  .hero-button:hover,
  .hero-button:focus {
    background-color: #030a06;
    opacity: 0.5;
  }
}
